<!DOCTYPE html>
<html>
<head>
  <title>WhATiSThiS</title>
</head>
<body>
<h1 style:"text-align: center">Say something to your parents:</h1>

<form action="/response" method="post">
  <input type="text" name="greeting">
  <input type="submit" value="Say it">
</form>

</body>
</html>